version: "3"
services:
  jitsi-token:
    image: gpopesc/jitsi-token:latest
    container_name: jitsi-token
    environment:
      - TZ=$TZ
      - USER_PASSWORD=$USER_PASS  
      - JITSI_SERVER=$JITSI_SERVER
      - JWT_ALG=$JWT_ALG
      - JWT_SECRET=$JWT_SECRET
      - JWT_ISS=$JWT_ISS
      - JWT_AUD=$JWT_AUD
      - JWT_EXP=$JWT_EXP
      - JWT_SUB=$JWT_SUB
      - EMAIL_SERVER=$EMAIL_SERVER
      - EMAIL_PORT=$EMAIL_PORT
      - SMTPAUTH=$SMTPAUTH
      - SMTPSECURE=$SMTPSECURE
      - EMAIL_USERNAME=$EMAIL_USERNAME
      - EMAIL_PASS=$EMAIL_PASS
      - SENDER_EMAIL=$SENDER_EMAIL
      - SENDER_NAME=$SENDER_NAME
      - EMAIL_SIGNATURE=$EMAIL_SIGNATURE
      - YRL_USERNAME=$YRL_USERNAME
      - YRL_PASSWORD=$YRL_PASSWORD
      - YRL_API_URL=$YRL_API_URL
      - JWT_SERVER_NAME=$JWT_SERVER_NAME
    ports:
      - $API_PORT:9000   
      - $HTTPPORT:80
    restart: always
